<!DOCTYPE html>

<html>

<head>
    <title>Spaces</title>
</head>

<body>
  <h1>MakersBnB</h1>
  <ul>
    <% @spaces.each do |space| %>
      <li><%= space %></li>
      <% end %>
    </ul>

</body>

</html>