
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nomads - Request Submitted</title>
<style>
  body {
    background: #F2DC5C;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
  }

  .btn {
    width: 110px;
    height: 35px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    text-transform: capitalize;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
</style>
</head>
<body>
<img src="https://i.ibb.co/hK7JNwt/Screenshot-2020-09-09-at-17-16-36.png" />
<h1> Thanks, your booking request has been submitted. <h1>

<form action="/spaces" method="get">
  <input class="btn" type="submit" value= "Go back" />
</form> 

</body>
</html>