<form action="/spaces" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="description" placeholder="Description" />
  <input type="text" name="price" placeholder="Price" />
  <input type="text" name="start_date" placeholder="Start_Date" />
  <input type="text" name="end_date" placeholder="End_Date" />
  <input type="submit" value="Submit" />
</form>