<form action="/spaces" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="description" placeholder="Description" />
  <input type="text" name="price" placeholder="Price" />
  <input type="text" name="available_date" placeholder="Date Available" />
  <input type="submit" value="Submit" />
</form>