<!DOCTYPE html>

<html>

<head>
    <title>Spaces</title>
</head>

<body>
  <h1>Nomads</h1>
  <ul>

    <% @space.each do |space| %>
      <li> Name : <%= space.name %> </li>
      <li> Description: <%= space.description %> </li>
      <li> Price: <%= space.price %> </li>
      <li> Date Available: <%= space.available_date %> </li>
      <% end %>
    </ul>

</body>

</html>
