<!DOCTYPE html>

<html>

<head>
    <title>Spaces</title>
</head>

<body>
  <h1>MakersBnB</h1>
  <ul>
  
    <% @space.each do |space| %>
      <li>
      <%= space[:name] %>
      <%= space[:description] %>
      <%= space[:price] %>
      </li>
      <% end %>
    </ul>

</body>

</html>